* {
  margin: 0;
  padding: 0;
}
body {
    min-width: 1200px;
}
p{
    font-family: Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 0.92em;
    line-height: 1.4;
	margin: 1em 0;
}
li {
	font-family: Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 0.92em;
    line-height: 1.4;
}

h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 3.7em;
    color: #e96d1a;
}
h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
    color: #e96d1a;
}
a {
    color: #0a8abf;
    text-decoration: none;
}
a:hover {
	color: #e96d1a;
	text-decoration: underline;
}
.wrapper {
	position: relative;
	width: 100%;
	margin: 0 auto;
}
.header {
    position: relative;
    background: #6bcef7; /* Для старых браузров */
    background: linear-gradient(to bottom, #6bcef7, #ffffff);
    width: 100%;
    height: 355px;
}

#footer {
    position: relative;
    background: #6bcef7; /* Для старых браузров */
    background: linear-gradient(to top, #6bcef7, #ffffff);
    width: 100%;
    height: 215px;
}
.logo-znatok {
    position: relative;
    width: 121px;
    height: 100px;
    margin: 0 auto;
    background-image: URL(../img/logo-znatok.png);
    background-repeat: no-repeat;
    background-position: center;
}
.contacts {
    position: relative;
    text-align: center;
    width: 400px;
    margin: 0 auto;
}

.logo-wrap {
    width: 363px;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.logo {
    position: relative;
    width: 363px;
    height: 200px;
    margin: 0 auto;
    background-image: URL(../img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
}
.logo a{
    display: block;
    height: 100%;
}

.site-name {
	position: relative;
	width: 363px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 9px;
	border-top: 2px dotted #e96d1a;
	border-bottom: 2px dotted #e96d1a;
	padding-top: 5px;
	padding-bottom: 5px;
}

.site-description {
	position: relative;
	width: 363px;
	margin: 0 auto;
}

.site-description p {
	color: #4d4d4d;
	font-style: italic;
	font-weight: bold;
	font-size: 1.1em;
	text-align: center;
}

.course {
	position: relative;
	display: inline-block;
	overflow: hidden;
	float: left;
	padding: 15px;
	width: 360px;
	height: 400px;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 10px 10px 10px 10px;
	
}

.course:hover {
	box-shadow: 0 0 20px gray;
	cursor: pointer;
}

.course-logo {
	position: relative;
	width: 300px;
	height: 256px;
	margin: 0 auto;
	background-position: center;
	background-repeat: no-repeat;
}

.course-logo a{
	display: block;
	height: 100%;
}
/*
.course-name, .course-description {
	width: 380px;
}
*/
.course-name {
	text-align: center;
}

.prog {
	background-image: URL(../img/prog-logo.png);
}

.math {
	background-image: URL(../img/math-logo.png);
}

.clear {
	clear: both;
}

/*Стили для контент области*/

#container-outer {
    display: table;
    width: 100%;
    box-sizing: border-box;  /* не поддерживается в CSS2 */
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
}
#container-outer > div,
#container-outer > noindex > div {
    display: table-cell;
    position: relative;
    vertical-align: top;
    width: auto;
    box-sizing: border-box;  /* не поддерживается в CSS2 */
}

#container-outer > #content,
#container-outer > noindex > #content {
    max-width: 960px;
    min-width: 450px;
    overflow: hidden;
    padding-top: 5px;
}

.articles {
    position: relative;
    display: block;
    max-width: 800px;
    margin: 0 auto;
}

/*Стили для меню*/
#container-outer > #sidebar,
#container-outer > noindex > #sidebar {
    width: 200px;
    border-right: 1px solid #d5d2d0;
    border-top: 1px solid #d5d2d0;
    overflow: visible!important;
}
#sidebar_toggle {
    position: absolute;
    background-image: URL(../img/ico/menu.png);
    display: block;
    top: 12px;
    margin-left: 19px;
    left: 100%;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    z-index: 5;
}
#sidebar_toggle:hover {
    background-color: #ebebeb;
    cursor: pointer;    
}
#sidebar_inner{
    display: block;
    overflow: auto;
    margin: 10px auto;
    width: 180px;
    padding-left: 10px;
    padding-right: 10px;
}

/*********/

/*Стили для страницы со списком доступных курсов*/
.list {
	position:relative;
	border-radius: 10px 10px 10px 10px;
	padding: 5px;
        min-height: 200px;
}
.list-logo {
	position: relative;
	display: block;
	float: left;
	margin-right: 10px;
	width: 145px;
}
.list-logo img{
	width: 145px;
}
.list-description {
	position: relative;
	display: block;
	padding: 5px;
	overflow: hidden;
}
.list:hover {
	box-shadow: 0 0 20px gray;
}
.list a {
	display: inline-block;
	line-height: 2em;
}
.list h2 {
	font-style: bold;
}
.control {
	padding: 0px 5px 5px 5px;
	text-align: right;
}

/* Стили для списка уроков */
.lesson-list {
	display: block;
	width: 740px;
	margin: 0 auto;
	border-radius: 10px 10px 10px 10px;
}

.lesson-list:hover {
	display: block;
	box-shadow: 0 0 20px gray;
}

.lesson-list li {
	display: inline-block;
}

.lesson_number {
	width: 35px;
	min-height: 35px;
	text-align: center;
	vertical-align: center;
	color: #4d4d4d;
    font-weight: bold;
}

.lesson_name {
	width: 450px;
	min-height: 35px;
	margin: 0.5em 0;
}

.lesson_name a{
	font-size: 1.7em;
	font-family: 'Open Sans Condensed', sans-serif;
}

.lesson_name a:hover {
	text-decoration: none;
}

.lesson_status {
	width: 75px;
	min-height: 35px;
}

.red {
	color: red;
}

.green {
	color: green;
}

.yellow {
	color: yellow;
}

.leson_comments {
	width: 135px;
	min-height: 35px;
}

/*Стили для страницы уроки*/
.lesson-content {
	counter-reset: item;
	list-style-type: decimal;
	margin-bottom: 35px;
}

/* Стили для форм регистрации и авторизации */
#register-form h2, #register-form label, #auth-form h2, #auth-form label {
    font-family:Georgia, Times, "Times New Roman", serif;
}
.form_hint, .required_notification {
    font-size: 11px;
}

#register-form h2 {
    margin:0;
    display: inline;
}
.required_notification {
    color:#d45252;
    margin:5px 0 0 0;
    display:inline;
    float:right;
}

#register-form ul {
    width:960px;
    list-style-type:none;
    list-style-position:outside;
    margin:0px auto;
    padding:0px;
}
#register-form li{
    padding:12px;
    border-bottom:1px solid #eee;
    position:relative;
}
#register-form li:first-child, #register-form li:last-child {
    border-bottom:1px solid #777;
}
#register-form label {
    width:150px;
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:3px;
}
#register-form input {
    height:20px;
    width:220px;
    padding:5px 8px;
}
#register-form textarea {padding:8px; width:300px;}
#register-form .btn-submit {margin-left:156px;}

#register-form input, #register-form textarea {
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
}
#register-form input:focus, #register-form textarea:focus {
    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
}
/* Button Style */
button.btn-submit {
    background-color: #68b12f;
    background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
    background: -webkit-linear-gradient(top, #68b12f, #50911e);
    background: -moz-linear-gradient(top, #68b12f, #50911e);
    background: -ms-linear-gradient(top, #68b12f, #50911e);
    background: -o-linear-gradient(top, #68b12f, #50911e);
    background: linear-gradient(top, #68b12f, #50911e);
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
}
button.btn-submit:hover {
    opacity:.85;
    cursor: pointer;
}
button.btn-submit:active {
    border: 1px solid #20911e;
    box-shadow: 0 0 10px 5px #356b0b inset;
    -webkit-box-shadow:0 0 10px 5px #356b0b inset ;
    -moz-box-shadow: 0 0 10px 5px #356b0b inset;
    -ms-box-shadow: 0 0 10px 5px #356b0b inset;
    -o-box-shadow: 0 0 10px 5px #356b0b inset;
}
#register-form input:focus, #register-form textarea:focus { /* add this to the already existing style */
    padding-right:70px;
}
#register-form input, #register-form textarea { /* add this to the already existing style */
    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;
}
#register-form input, #register-form textarea {
    padding-right:30px;
}
input:required, textarea:required {
    background: #fff url(images/red_asterisk.png) no-repeat 98% center;
}
::-webkit-validation-bubble-message {
    padding: 1em;
}

#register-form .error:focus:invalid, #register-form .error { /* when a field is considered invalid by the browser */
    background: #fff url(../images/invalid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}
#register-form .success:required:valid { /* when a field is considered valid by the browser */
    background: #fff url(../images/valid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

#register-form input:focus + .form_hint {display: inline;}
#register-form input:required:valid + .form_hint {background: #28921f;} /* change form hint color when valid */
#register-form input:required:valid + .form_hint::before {color:#28921f;} /* change form hint arrow color when valid */


#auth-form ul{
    width:650px;
    list-style-type:none;
    list-style-position:outside;
    margin:0px auto;
    padding:0px;
}
#auth-form li{
    padding:12px;
    border-bottom:1px solid #eee;
    position:relative;
}
#auth-form li:first-child, #auth-form li:last-child {
    border-bottom:1px solid #777;
}
#auth-form label {
    width:150px;
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:3px;
}
#auth-form input {
    height:20px;
    width:220px;
    padding:5px 8px;
}
#auth-form #chbx {
    width:20px;
}

#language_form ul{
    width: 150px;
    list-style-type:none;
    list-style-position:outside;
    margin:0px auto;
    padding:0px;
}
#language_form li {
    display: inline-block;
    margin: 0 auto;
}
.clear {
    clear: both;
}

/*
* Стили для профиля
*/
#profile {
    margin: 10px auto;
    position: relative;
    overflow: hidden;
}
#user_name {
    border-bottom: 1px solid #45729f;
}

#user_name h2{
    text-align: left;
    color: #45729f;
}
#profile #wrap {
    
    margin: 5px auto;
    padding-left: 30px;
    padding-right: 30px;
    overflow: hidden;
}
#left {
    position: relative;
    display: block;
    float: left;
    width: 280px;
    padding-left: 10px
}
#left img {
    width: 270px;
    margin: 0 auto;
}
#right {
    position: relative;
    display: block;
    float: left;
    width: 600px;
    padding-right: 10px 
}
#profile ul {
    width: 590px;
    list-style-type:none;
    list-style-position:outside;
    margin:0px auto;
    padding:0px;
}
#profile li {
    border-bottom: 1px solid #bebebe;
    min-height: 30px;
}
#profile li:hover {
    background-color: #b1d0ff;
}
.intro {
    font-size: 0.8em;
    color: #555;
    display: inline-block;
    line-height: 30px;
    width: 135px;
    vertical-align: top;
}
.cont {
    color: #212121;
    display: inline-block;
    width: 450px;
    line-height: 30px;
    margin-left: 5px;
}